{% extends 'mainbase.html' %}
{% load static %}
{% block title %}signup{% endblock title %}
{% block content%}
<!-- <style>
.mm {
  background-color: azure;
padding: 50px;
margin-top:  15%;
border: 1px dotted black;
border-radius: 25px;
margin-right:450px;
margin-left:450px; display: flex;
justify-content: center;
}
</style> -->

<link rel="stylesheet" href="{% static 'style.css' %}">

<div class="mm" style=" background-color: azure;
padding: 50px;
margin-top:  15%;
border: 1px dotted black;
border-radius: 25px;
margin-right:450px;
margin-left:450px; display: flex;
justify-content: center;">

<form action="" method="post">
  {% csrf_token %}
  <div>{% for message in messages %}
    <h3>{{message}}</h3>
    {% endfor %}
  </div>
    <div style="padding-left:40px;">
      <button type="button" class="btn btn-info" onclick="window.location.href='../signup'">Sign Up</button>
      <button type="button" class="btn btn-info" onclick="window.location.href='../signin'">Sign In</button>
    </div><br>
  
      <h1>SIGN UP</h1>
      
      <div class="px">
        <p id="text"></p>
      </div>
      
          <div class="row d-block">
            <div class="col">
                <input id="name" type="text" class="form-control" placeholder="name" onchange="validname()" required><br>
              </div>  
            <div class="col">
              <input id="email" type="email" class="form-control" placeholder="emailid"  onchange="validmail()"><br>
            </div>
            <div class="col">
                <input id="phno" type="number" class="form-control" placeholder="phone number" onchange="validphn()"><br>
              </div>
            <div class="col" style="padding-top: 15px;">
              <input id="pass1" type="password" class="form-control" placeholder="Password" onchange="validpass()"><br>
            </div>
            <div class="col" style="padding-top: 15px;">
                <input id="pass2" type="password" class="form-control" placeholder="conform Password" onchange="validpassconform()"><br>
              </div>
          </div>
        <div style="padding-top:15px; padding-left:55px">
      <button type="button" id="signup" class="btn btn-info"> signup</button>
        </div>
  </form>
</div>
<script src="{% static 'js/signup.js' %}"></script>
{% endblock content %}